@page
@model AboutModel
@{
    ViewData["Title"] = "Featured";
}

<div class="text-center">
    <h1 class="display-4">Featured Projects</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
